.get-in-touch-button {
  margin-top: 1.5rem;
  width: 11rem;
  height: 3rem;
  border: none;
  background: #0F385F;
  color: #fff;
  font-weight: 800;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  transition: background-color 0.1s linear;
  transition: color 0.1s linear;
}

.get-in-touch-button:hover {
  background-color: #fff;
  color: #0F385F;
}

.header-contact-button {
  display: inline-block;
  background: red;
  color: #fff;
  background: transparent;
  border: solid 2px #fff;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: "Kanit", sans-serif;
  padding: 10px 30px;
  transition: background-color 0.1s linear;
  transition: color 0.1s linear;
}

.header-contact-button:hover {
  color: #0F385F;
  background: #fff;
}

.sports-selector-button {
  width: 11rem;
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  border: none;
  color: #fff;
  background-color: #0F385F;
  transition: transform 0.1s linear;
}

.sports-selector-button:hover {
  transform: scale(1.03);
}

.submit-button {
  margin-top: 1rem;
  width: 12rem;
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  border: none;
  color: #fff;
  background-color: #E51A4A;
  transition: transform 0.1s linear;
}

.submit-button:hover {
  transform: scale(1.03);
}

.newsletter-button {
  width: 10rem;
  height: 2.8rem;
  font-weight: 500;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: #E51A4A;
  transition: color 0.1s linear;
}

.newsletter-button:hover {
  color: #0F385F;
}

@media only screen and (max-width: 1200px) {
  .newsletter-button {
    width: auto;
    height: 2.8rem;
    padding: 0 10px;
    font-weight: 500;
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background-color: #E51A4A;
    transition: color 0.1s linear;
  }
}
@-webkit-keyframes discovery-pointing {
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes discovery-pointing {
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-size: 16px;
  position: relative;
  font-family: "Kanit", sans-serif;
}

button {
  cursor: pointer;
}

.max-width-container {
  width: 90vw;
  max-width: 1400px;
  display: block;
  margin: 0 auto;
}

.max-width-margin {
  margin-right: 1rem;
  margin-left: 1rem;
}

header {
  position: absolute;
  height: 13vh;
  z-index: 10;
  width: 100%;
  padding: 3rem 0;
}
header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .nav-list ul {
  list-style: none;
  display: inline-block;
}
header .nav-list ul li {
  margin-right: 1.5rem;
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
header .nav-list ul li hr {
  position: absolute;
  color: #fff;
  width: 100%;
  border: solid 1px #fff;
  bottom: 0;
  right: 100%;
  transition: all 0.1s linear;
}
header .nav-list ul li:hover > hr {
  right: 0%;
}
header .logo img {
  max-width: 15rem;
}

.burger-menu {
  display: none;
}
.burger-menu img {
  height: 20px;
  width: 30px;
}

@media only screen and (max-width: 700px) {
  .burger-menu {
    display: block;
  }

  header .nav-list ul, header .nav-list button {
    display: none;
  }
}
footer {
  display: flex;
  background-color: #fff;
}
footer .footer-logo {
  flex: 0 0 20%;
}
footer .footer-logo img {
  margin: auto;
  display: block;
  height: 80%;
  padding-top: 0.5rem;
}
footer .footer-info {
  flex: 0 1 80%;
  background: #0F385F;
  padding: 1rem 2rem 1rem 8rem;
  display: flex;
  justify-content: space-evenly;
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}
footer .footer-info .contact-info {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-info .contact-info h2 {
  color: #E51A4A;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.4rem;
}
footer .footer-info .contact-info p {
  text-transform: uppercase;
  color: #fff;
  line-height: 120%;
}
footer .footer-info .contact-info .social-icons {
  display: flex;
  justify-content: space-around;
}
footer .footer-info .contact-info .social-icons img {
  margin-right: 0;
}
footer .footer-info .newsletter-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-info .newsletter-group h2 {
  color: #E51A4A;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.4rem;
}
footer .footer-info .newsletter-group form input {
  height: 2.8rem;
  border-radius: 0;
  border: none;
  width: 50%;
  display: inline-block;
}
footer .footer-info .newsletter-group .copyright {
  display: flex;
}
footer .footer-info .newsletter-group .copyright p {
  color: #fff;
  display: inline-block;
  line-height: 100%;
  font-size: 0.8rem;
}
footer .footer-info .newsletter-group .copyright .links {
  margin-right: 10px;
}

@media only screen and (max-width: 970px) {
  footer {
    flex-direction: column;
  }
  footer .footer-logo {
    margin: 1rem 0;
  }
  footer .footer-info {
    -webkit-clip-path: none;
            clip-path: none;
    flex: 0 0 100%;
    padding: 1.5rem;
    align-items: center;
  }
  footer .footer-info .contact-info {
    flex-wrap: wrap;
  }
  footer .footer-info .contact-info .details {
    margin: 1rem 0;
  }
  footer .footer-info .newsletter-group .newsletter-signup {
    margin: 1rem 0;
  }
  footer .footer-info .newsletter-group .newsletter-signup form input {
    min-width: 150px;
  }
}
@media only screen and (max-width: 700px) {
  footer {
    flex-direction: column;
  }
  footer .footer-info {
    flex-direction: column;
  }
  footer .footer-info .contact-info {
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  footer .footer-info .contact-info .details {
    margin: 1rem 0;
  }
  footer .footer-info .newsletter-group .newsletter-signup {
    margin: 1rem 0;
  }
  footer .footer-info .newsletter-group .newsletter-signup form input {
    min-width: 150px;
  }
}
.hero-section {
  background: #e5254a url("../images/home_banner-1.png");
  background-size: cover;
  background-position: 11.5vw 50%;
  background-repeat: no-repeat;
  padding-top: 13vh;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
}

.hero-content {
  z-index: 1;
  position: relative;
  margin-top: 5rem;
  display: flex;
  width: 50%;
  margin-right: auto;
  flex-direction: column;
}
.hero-content h1 {
  font-size: 5.5rem;
  color: #fff;
  flex: 0 0 50%;
  text-transform: uppercase;
  line-height: 125%;
}
.hero-content h3 {
  font-size: 1rem;
  color: #fff;
  margin-top: 1rem;
  width: 80%;
  font-weight: 500;
}

.discover-card {
  position: absolute;
  width: 300px;
  background: #fff;
  bottom: 0;
  right: 0;
  height: 5vw;
  min-height: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  -webkit-clip-path: polygon(26% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(26% 0, 100% 0%, 100% 100%, 0% 100%);
}
.discover-card .discovery-arrow {
  display: inline-block;
  padding-left: 3rem;
  margin-right: 5px;
  -webkit-animation: discovery-pointing infinite 1.5s linear;
          animation: discovery-pointing infinite 1.5s linear;
}
.discover-card p {
  font-size: 1.3rem;
  margin: auto 0;
}

.footballing-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footballing-flex .overlapping-image {
  flex: 0 0 50%;
  margin-top: -1.2rem;
  position: relative;
  z-index: 9;
  margin-bottom: -1.2rem;
}
.footballing-flex .overlapping-image img {
  max-width: 100%;
}
.footballing-flex .footballing-content {
  flex: 0 0 45%;
  margin-left: 1rem;
}
.footballing-flex .footballing-content h2 {
  font-size: 1.8rem;
  color: #0F385F;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.footballing-flex .footballing-content p {
  font-size: 1.1rem;
  font-weight: 500;
  color: #0F385F;
}

.engage-section {
  background: #0F385F;
}

.engage-content {
  padding: 5rem 0;
  text-align: center;
}
.engage-content h1 {
  margin: 0 1rem 2rem;
  font-size: 3rem;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
}
.engage-content .engage-card-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
}
.engage-content .engage-card-container .engage-card {
  margin: 0 2rem 1rem 2rem;
}
.engage-content .engage-card-container .engage-card img {
  width: 60px;
  height: 60px;
}
.engage-content .engage-card-container .engage-card h3 {
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  width: 80%;
  line-height: 100%;
  margin: 1rem auto;
  font-weight: 600;
}
.engage-content .engage-card-container .engage-card p {
  color: #fff;
  line-height: 100%;
}

.activities-section {
  background: #fff;
  padding: 2rem 0 5rem;
}

.activities-content h1 {
  text-transform: uppercase;
  color: #E51A4A;
  font-size: 4.5rem;
  text-align: center;
}
.activities-content p {
  font-size: 1.1rem;
  color: #0F385F;
  line-height: 120%;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
}

.sports-cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  max-width: 1500px;
}
.sports-cards-container .sport-card {
  position: relative;
}
.sports-cards-container .sport-card.lesser .backdrop {
  width: 10rem;
}
.sports-cards-container .sport-card.lesser .sport {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.sports-cards-container .sport-card.lesser .svg-sport {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  fill: #E5254C;
}
.sports-cards-container .sport-card.greater .backdrop {
  width: 15rem;
}
.sports-cards-container .sport-card.greater .svg-sport {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  fill: #0F385F;
}

.sports-selector {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 2rem auto;
  min-width: 250px;
}
.sports-selector h2 {
  font-size: 1.5rem;
  color: #0F385F;
}
.sports-selector .previous {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: solid 2px #0F385F;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.sports-selector .previous img {
  transform: rotate(90deg) translateY(1px);
}
.sports-selector .next {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: solid 2px #0F385F;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.sports-selector .next img {
  transform: rotate(270deg) translateY(-1px);
}

.selector-button-holder {
  text-align: center;
}

.meeting-section {
  background-color: #fff;
}

.meeting-content {
  background: #0F385F;
  display: flex;
  justify-content: space-between;
  flex: 0 0 50%;
}
.meeting-content .meeting-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 2rem 5.5rem 4rem;
}
.meeting-content .meeting-text h2 {
  text-transform: uppercase;
  font-size: 4rem;
  color: #fff;
  font-weight: 600;
  line-height: 120%;
}
.meeting-content .meeting-text h3 {
  width: 100%;
  text-align: left;
  margin: 1rem 0;
  font-size: 1.5rem;
  color: #E51A4A;
  line-height: 120%;
  font-weight: 500;
}
.meeting-content .meeting-text p {
  font-size: 1rem;
  color: #fff;
  line-height: 100%;
}
.meeting-content .meeting-image {
  flex: 0 0 50%;
  overflow: hidden;
  width: 100%;
  background: url("../images/SchoolSportPremium4@2x.png");
  background-size: cover;
}

.contact-section {
  background: #fff;
  padding: 4rem 0 5rem 0;
}

.form-intro {
  margin-bottom: 3rem;
}
.form-intro h1 {
  text-align: center;
  font-size: 5rem;
  color: #E51A4A;
  font-weight: 600;
  line-height: 100%;
}
.form-intro h2 {
  font-size: 1.7rem;
  color: #0F385F;
  text-align: center;
  font-weight: 600;
  line-height: 100%;
  margin: 2rem 0;
}
.form-intro h2 span {
  color: #E51A4A;
}
.form-intro p {
  width: 50%;
  margin: 0 auto;
  color: #0F385F;
  font-size: 1.1rem;
}
.form-intro #call-and-email a {
  text-decoration: none;
  color: #0F385F;
}

.form-container {
  max-width: 50%;
  min-width: 600px;
  margin: 0 auto;
}
.form-container form {
  text-align: center;
}
.form-container form .input-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form-container form .input-group input {
  display: inline-block;
  width: 100%;
  border: solid 1px #707070;
  padding: 20px;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #0F385F;
  border-radius: 2px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}
.form-container form .input-group input:first-child {
  margin-right: 1rem;
}
.form-container form .input-group input::-moz-placeholder {
  color: #707070;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}
.form-container form .input-group input:-ms-input-placeholder {
  color: #707070;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}
.form-container form .input-group input::-ms-input-placeholder {
  color: #707070;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}
.form-container form .input-group input::placeholder {
  color: #707070;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}
.form-container form .message-box {
  width: 100%;
  height: 6rem;
  padding: 20px;
  color: #0F385F;
  font-weight: 400;
  font-size: 1rem;
}
.form-container form .message-box::-moz-placeholder {
  font-family: "Kanit", sans-serif;
}
.form-container form .message-box:-ms-input-placeholder {
  font-family: "Kanit", sans-serif;
}
.form-container form .message-box::-ms-input-placeholder {
  font-family: "Kanit", sans-serif;
}
.form-container form .message-box::placeholder {
  font-family: "Kanit", sans-serif;
}

@media only screen and (max-width: 1200px) {
  .hero-content h1 {
    font-size: 3.5rem;
  }

  .engage-content .engage-card-container {
    width: 100%;
  }

  .meeting-content .meeting-text h2 {
    font-size: 2.2rem;
  }
  .meeting-content .meeting-text h3 {
    font-size: 1.3rem;
  }

  .form-intro p {
    min-width: 600px;
  }

  footer .contact-info h2 {
    text-align: center;
  }
  footer .contact-info .details {
    text-align: center;
  }
  footer .footer-info .newsletter-group {
    text-align: center;
  }
  footer .footer-info .newsletter-group .copyright {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .footer-info .newsletter-group .copyright .links {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 970px) {
  .hero-content {
    width: 55%;
  }
  .hero-content h1 {
    font-size: 3rem;
  }

  .footballing-flex .footballing-content {
    padding: 1rem 0;
  }
  .footballing-flex .footballing-content h2 {
    font-size: 1.2rem;
  }
  .footballing-flex .footballing-content p {
    font-size: 0.8rem;
  }

  .engage-content .engage-card-container {
    flex-direction: column;
    align-items: center;
  }
  .engage-content .engage-card-container .engage-card {
    flex: 0 1 33%;
    min-width: 230px;
    max-width: 40vw;
    margin: 1rem 1rem 1rem 1rem;
  }

  .sports-cards-container .sport-card.lesser .backdrop {
    max-width: 6rem;
    min-width: 4rem;
  }
  .sports-cards-container .sport-card.greater .backdrop {
    max-width: 12rem;
  }

  .activities-content p {
    width: 70vw;
    max-width: 700px;
  }

  .meeting-content {
    flex-direction: column-reverse;
  }
  .meeting-content .meeting-image {
    width: 100%;
    min-width: 365px;
    min-height: 300px;
  }
  .meeting-content .meeting-text {
    margin: 2rem 1rem 2.7rem 2rem;
  }
  .meeting-content .meeting-text h2 {
    text-align: center;
  }
  .meeting-content .meeting-text h3 {
    text-align: center;
  }
  .meeting-content .meeting-text p {
    text-align: center;
  }

  .contact-section {
    padding: 4rem 0 0 0;
  }
}
@media only screen and (max-width: 700px) {
  .hero-section {
    background-position: 2vw 50%;
  }

  .hero-content {
    width: 70%;
  }
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .footballing-flex {
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .footballing-flex .overlapping-image {
    max-width: 50%;
    margin: 0;
  }

  .activities-content h1 {
    font-size: 2.5rem;
  }
  .activities-content p {
    font-size: 0.9rem;
  }

  #first-card {
    display: none;
  }

  #fifth-card {
    display: none;
  }

  .sports-cards-container .sport-card.lesser .backdrop {
    max-width: 8rem;
    min-width: 4rem;
  }
  .sports-cards-container .sport-card.greater .backdrop {
    max-width: 12rem;
  }

  .form-intro h1 {
    font-size: 3rem;
  }
  .form-intro h2 {
    margin: 1rem 0;
    font-size: 1.3rem;
  }
  .form-intro p {
    min-width: 300px;
    width: 80%;
    text-align: center;
  }

  .form-container {
    min-width: 300px;
    max-width: 90%;
    margin: auto;
  }
  .form-container form .input-group {
    flex-direction: column;
  }
  .form-container form .input-group input {
    padding: 10px 20px;
  }
  .form-container form .input-group input:first-child {
    margin-right: 0;
  }
}
@media only screen and (max-width: 500px) {
  .hero-section {
    background-position: center;
    position: relative;
  }

  .hero-content {
    width: 80%;
  }
  .hero-content h1 {
    font-size: 2rem;
  }
  .hero-content h3 {
    line-height: 130%;
    font-size: 1rem;
  }

  .hero-section::before {
    content: "";
    width: 100%;
    z-index: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    position: absolute;
  }

  .engage-content {
    padding: 2.5rem 0;
  }
  .engage-content h1 {
    font-size: 2rem;
  }

  .activities-content h1 {
    font-size: 2rem;
  }

  .meeting-content .meeting-image {
    min-width: 270px;
    width: 100%;
  }

  .sports-cards-container .sport-card.lesser .backdrop {
    max-width: 5rem;
    min-width: 3rem;
  }
  .sports-cards-container .sport-card.greater .backdrop {
    max-width: 8rem;
  }
}