



//FOOTER SECTION 

footer {
    display: flex;
    background-color: #fff;

    .footer-logo {
        flex: 0 0 20%;

        img {
            margin: auto;
            display: block;
            height: 80%;
            padding-top: 0.5rem;
        }
    }

    .footer-info {
        flex: 0 1 80%;
        background: $dark-blue;
        padding: 1rem 2rem 1rem 8rem;
        display: flex;
        justify-content: space-evenly;
        clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);

        .contact-info {
            margin-right: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                color: $light-coral;
                font-weight: $medium-font-weight;
                text-transform: uppercase;
                font-size: 1.4rem;
            }

            p {
                text-transform: uppercase;
                color: #fff;
                line-height: 120%;
            }

            .social-icons {
                display: flex;

                justify-content: space-around;

                img {
                    margin-right: 0;
                }
            }

        }


        .newsletter-group {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                color: $light-coral;
                font-weight: $medium-font-weight;
                text-transform: uppercase;
                font-size: 1.4rem;

            }

            form {
                input {
                    height: 2.8rem;
                    border-radius: 0;
                    border: none;
                    width: 50%;
                    display: inline-block;
                }


            }

            .copyright {
                display: flex;

                p {
                    color: #fff;
                    display: inline-block;
                    line-height: 100%;
                    font-size: 0.8rem;
                }

                .links {
                    margin-right: 10px;
                }
            }
        }
    }

}



@media only screen and (max-width: 970px) {


    footer {
        flex-direction: column;

        .footer-logo {
            margin:1rem 0;
        }

        .footer-info {
            clip-path:none;
            flex: 0 0 100%;
            padding:1.5rem;
            align-items:center;


            .contact-info {

                flex-wrap:wrap;

                .details {
                    margin: 1rem 0;
                }
            }

            .newsletter-group {
                .newsletter-signup {
                    margin:1rem 0;

                    form {
                        input {
                            min-width:150px;
                        }
                    }
                }
            }


        }

    }


}



@media only screen and (max-width: 700px) {


    footer {
        flex-direction: column;

        

        .footer-info {

            flex-direction: column;


            .contact-info {

                flex-wrap: wrap;

                .details {
                    margin: 1rem 0;
                }

                margin-bottom:1rem;
            }

            .newsletter-group {
                .newsletter-signup {
                    margin: 1rem 0;

                    form {
                        input {
                            min-width: 150px;
                        }
                    }
                }
            }


        }

    }


}

