


//Global Values

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration:none;
    color:#fff;
}
body {
    font-size: 16px;
    position: relative;
    font-family: 'Kanit',
    sans-serif;
}

button {
    cursor:pointer;
}

.max-width-container {
    width: 90vw;
    max-width: 1400px;
    display:block;
    margin:0 auto;
}

.max-width-margin {
    margin-right: 1rem;
    margin-left: 1rem;
}

