



header {
    position: absolute;
    height: 13vh;
    z-index: 10;
    width: 100%;
    padding: 3rem 0;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

    }

    .nav-list {


        ul {
            list-style: none;
            display: inline-block;
        

            li {
                margin-right: 1.5rem;
                display: inline-block;
                color:#fff;
                font-size: $header-font-size;
                position:relative;
                overflow:hidden;
                vertical-align:middle;
                
                hr {
                    position:absolute;
                    color:#fff;
                    width:100%;
                    border: solid 1px #fff;  
                    bottom:0;
                    right:100%;
                    transition: all 0.1s linear
                }

            }

            li:hover > hr {
                right:0%;
            }

            

        }

    }


    .logo {
        img {
            max-width: 15rem;
        }
    }
    
}







.burger-menu {
  img {
      height:20px;
      width:30px;
  }
  display:none;
}


@media only screen and (max-width:700px) {
    .burger-menu {
        display: block;
    }

    header .nav-list {
        ul, button {
            display:none;
        }
    }
}